body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #96c3ea;
}

header {
  background-color: #3498db;
  color: white;
  padding: 20px;
  text-align: center;
}

main {
  max-width: 800px;
  margin: 20px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

section {
  background-color: white;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.weather img {
  width: 100px;
  height: 100px;
}

.currency select,
.currency input {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.currency button {
  background-color: #3498db;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.currency button:hover {
  background-color: #2980b9;
}